{% verbatim %}
{% if products %}
<div class="input-group flex-nowrap">
  <label class="input-group-prepend m-0" for="input-sort"><span class="input-group-text">{{ text_sort }}</span></label>
  <select id="input-sort" class="custom-select" onchange="location = this.value;">
  {% for sort_data in sorts %}
    {% if sort_data.value == '%s-%s'|format(sort, order) %}
    <option value="{{ sort_data.href }}" selected="selected">{{ sort_data.text }}</option>
    {% else %}
    <option value="{{ sort_data.href }}">{{ sort_data.text }}</option>
    {% endif %}
  {% endfor %}
  </select>
  {# <div id="input-sort" class="dropdown">
    {% set label = '' %}
    {% for sort_data in sorts %}{% if sort_data.value == '%s-%s'|format(sort, order) %}{% set label = sort_data.text %}{% endif %}{% endfor %}
    <button type="button" class="btn border dropdown-toggle" data-toggle="dropdown">{{ label }}</button>
    <div class="dropdown-menu">
      {% for sort_data in sorts %}
        <a class="dropdown-item" href="{{ sort_data.href }}">{{ sort_data.text }}</a>
      {% endfor %}
    </div>
  </div> #}
</div>
{% endif %}
{% endverbatim %}