{{ header }}

<div class="container content">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{% for breadcrumb in breadcrumbs|slice(0,-1) %}
				<li class="breadcrumb-item">
					<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
				</li>
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs|last.text }}</li>
		</ol>
	</nav>
</div>

<style>
	.card {
		margin-bottom: 30px;
		border: none;
		border-radius: 5px;
		box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
	}
	.card-body {
		padding: 0 20px 20px;
	}
	small,
	small {
		font-size: 0.875em;
	}
	p {
		margin-top: 0;
		margin-bottom: 16px;
	}
	.g-3,
	.gy-3 {
		column-gap: 16px;
	}

	.g-3,
	.gx-3 {
		row-gap: 16px;
	}

	.form-label {
		margin-bottom: 0.5rem;
	}

	.nav-link,
	.form-label {
		font-weight: 500;
	}

	.section-spaces {
		padding: 35px 0;
	}

	.section-spaces {
		padding: 35px 0 50px;
	}

	@media(min-width: 768px) {
		.section-spaces {
			padding: 40px 0;
		}
	}

	@media(min-width: 1200px) {
		.section-spaces {
			padding: 25px 0 50px;
		}
	}
</style>


<div class="section-spaces" id="affiliate-login">
	<div id="content">

		<div class="container">
			<div clas="row d-flex justify-content-center" style="display:flex; justify-content:center;">
				<div class="col-md-5 col-lg-4">
					<div class="card mb-3">
						<div class="card-body">
							<div class="pt-4 pb-2">
								<h5 class="card-title text-center pb-0 fs-4 mb-1">
									{{ text_returning_affiliate }}

								</h5>
								<p class="text-center small">{{ text_i_am_returning_affiliate }}</p>

							</div>

							<form class="row g-3 needs-validation" novalidate="" action="{{ action }}" method="post">

								{% if success %}
									<div class="alert alert-success alert-dismissible">
										<i class="fa fa-check-circle"></i>
										{{ success }}</div>
								{% endif %}

								{% if error_warning %}
									<div class="alert alert-danger alert-dismissible">
										<i class="fa fa-exclamation-circle"></i>
										{{ error_warning }}</div>
								{% endif %}

								<div class="col-12">
									<label for="input-email" class="form-label">{{ entry_email }}</label>
									<div class="input-group has-validation">
										<input type="text" name="email" class="form-control" id="input-email" value="{{ email }}"/>
										<div class="invalid-feedback">Please enter your email.</div>
									</div>
								</div>

								<div class="col-12">
									<label for="input-password" class="form-label">{{ entry_password }}</label>
									<input type="password" name="password" class="form-control" id="input-password" placeholder="{{ entry_password }}" value="{{ password }}"/>
									<div class="invalid-feedback">Please enter your password!</div>
								</div>

								<div class="col-12">
									<div class="d-flex align-items-center justify-content-between">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe"/>
											<label class="form-check-label" for="rememberMe">Remember me</label>
										</div>
										<a href="{{ forgotten }}" class="nav-link">{{ text_forgotten }}</a>
									</div>
								</div>
								<div class="col-12">
									<button class="btn btn-primary w-100" type="submit">Login</button>
									{% if redirect %}
										<input type="hidden" name="redirect" value="{{ redirect }}"/>
									{% endif %}
								</div>
								<div class="col-12 text-center">
									<p class="fs-4 mb-0">
										Don't have account?
										<a href="{{ register }}" style="font-weight:500;font-size:14px">Become a partner</a>
									</p>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>

{# <div class="row">

<div id="content" class="{{ class }}">
	<div class="row">


		<div class="col-sm-6">
			<div class="card mb-3">
				<div class="card-body">
					<h2>{{ text_new_affiliate }}</h2>
					<p>{{ text_register_account }}</p>
					<a class="btn btn-primary" href="{{ register }}">{{ button_continue }}</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-5">
			<div class="card mb-3">
				<div class="card-body">

					<h2>{{ text_returning_affiliate }}</h2>
					<p>
						<strong>{{ text_i_am_returning_affiliate }}</strong>
					</p>
					<form action="{{ action }}" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label class="col-form-label" for="input-email">{{ entry_email }}</label>
							<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
						</div>
						<div class="form-group">
							<label class="col-form-label" for="input-password">{{ entry_password }}</label>
							<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
							<a href="{{ forgotten }}">{{ text_forgotten }}</a>
						</div>
						<input type="submit" value="{{ button_login }}" class="btn btn-primary"/>
						{% if redirect %}
							<input type="hidden" name="redirect" value="{{ redirect }}"/>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
	{{ content_bottom }}
</div> #}

{{ column_right }}</div>{# </div> #}{{ footer }}
