{% if heading_title is not empty %}
<h3 class="module-title">{{ heading_title }}</h3>
{% endif %}
{#carousel#}
{% if carousel_status %}
<div class="swiper-viewport">
  <div id="mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %}" class="swiper-container" dir="{{ direction }}">
    <div class="swiper-wrapper">
      {% verbatim %}{% for manufacturer in manufacturers %}{% endverbatim %}
      <div class="swiper-slide">
        <a href="{% verbatim %}{{ manufacturer.href }}{% endverbatim %}">
          <figure class="figure m-0 img-{{ image_position }}">
            {% if show_content != 'text' %}
              {% if lazy_loading %}
              <img class="figure-img img-fluid lazy-load loader-spinner" src="{{ transparent?:'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' }}" width="{{ image_width }}" height="{{ image_height }}" data-src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
              {% else %}
              <img class="figure-img img-fluid" width="{{ image_width }}" height="{{ image_height }}" src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
              {% endif %}
            {% endif %}
            {% if show_content != 'image' %}
            <figcaption  class="figure-caption">{% verbatim %}{{ manufacturer.name }}{% endverbatim %}</figcaption>
            {% endif %}
          </figure>
        </a>
      </div>
      {% verbatim %}{% endfor %}{% endverbatim %}
    </div>
    {% if carousel_pagination %}
    <div class="swiper-pagination"></div>
    {% endif %}
    <div class="swiper-pager custom-pager">
      <div class="swiper-button-next">
        {% if carousel_nav_icon_font %}
        <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
        {% elseif carousel_nav_icon_svg %}
        <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
        {% elseif carousel_nav_icon_image %}
        <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
        {% endif %} 
      </div>
      <div class="swiper-button-prev">
        {% if carousel_nav_icon_font %}
        <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
        {% elseif carousel_nav_icon_svg %}
        <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
        {% elseif carousel_nav_icon_image %}
        <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
        {% endif %} 
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
    $('#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %}').swiper({
            mode: 'horizontal',
            observer: true,
            observeParents: true,
            {% if carousel_pagination %}
            pagination: '#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %} .swiper-pagination',
            paginationClickable: true,
            {% else %}
            pagination: false,
            {% endif %}
            nextButton: '#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %} .swiper-button-next',
            prevButton: '#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %} .swiper-button-prev',
            autoplay: {{ (carousel_autoplay > 0)?carousel_autoplay:'false'  }},
            loop: {{ (carousel_loop)?'true':'false' }},
            slidesPerColumn: {{ carousel_row }},
            slidesPerView: {{ column_xl?:1200 }},
            breakpoints: {
                {{ breakpoint_xl - 1 }}: {
                    slidesPerView: {{ column_lg }}
                },
                {{ breakpoint_lg - 1 }}: {
                    slidesPerView: {{ column_md }}
                },
                {{ breakpoint_md - 1 }}: {
                    slidesPerView: {{ column_sm }}
                },
                {{ breakpoint_sm - 1 }}: {
                    slidesPerView: {{ column_xs }}
                }
            },
            {% if lazy_loading %}
            onSlideNextEnd: function(swiper){
                $(swiper.slides[swiper.activeIndex]).find('img.lazy-load').each(function(){
                    if($(this).data("plugin_lazy")){
                        $(this).data("plugin_lazy").update();
                    }
                });
            },
            {% endif %}
    });
});
</script>

{#Grid#}
{% else %}
  <div class="row">
  {% verbatim %}{% for manufacturer in manufacturers %}{% endverbatim %}
    <div class="col-xl-{{ (12/column_xl)|replace({'.':'_'}) }} col-lg-{{ (12/column_lg)|replace({'.':'_'}) }} col-md-{{ (12/column_md)|replace({'.':'_'}) }} col-sm-{{ (12/column_sm)|replace({'.':'_'}) }} col-{{ (12/column_xs)|replace({'.':'_'}) }}">
      <a href="{% verbatim %}{{ manufacturer.href }}{% endverbatim %}">
        <figure class="figure m-0 img-{{ image_position }}">
          {% if show_content != 'text' %}
            {% if lazy_loading %}
            <img class="figure-img img-fluid lazy-load loader-spinner" src="{{ transparent?:'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' }}" width="{{ image_width }}" height="{{ image_height }}" data-src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
            {% else %}
            <img class="figure-img img-fluid" width="{{ image_width }}" height="{{ image_height }}" src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
            {% endif %}
          {% endif %}
          {% if show_content != 'image' %}
          <figcaption  class="figure-caption">{% verbatim %}{{ manufacturer.name }}{% endverbatim %}</figcaption>
          {% endif %}
        </figure>
      </a>
    </div>
  {% verbatim %}{% endfor %}{% endverbatim %}
  </div>
{% endif %}