{{ header }}
<div id="information-contact" class="container content pb-4">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{% for breadcrumb in breadcrumbs|slice(0,-1) %}
				<li class="breadcrumb-item">
					<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
				</li>
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs|last.text }}</li>
		</ol>
	</nav>
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-md-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-md-9' %}
		{% else %}
			{% set class = 'col-md-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}



			<div class="container py-5">
				<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
					<h5 class="fw-bold text-primary text-uppercase">Contact Us</h5>
					<h1 class="mb-0" style="font-size: calc(1.375rem + 1.5vw);">If You Have Any Query, Feel Free To Contact Us</h1>
				</div>
				<div class="row g-5 mb-5">
					<div class="col-lg-4 mb-3">
						<div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
							<div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
								<i class="fa fa-phone-alt text-white"></i>
							</div>
							<div class="pl-4">
								<h5 class="mb-2" style="font-size:16px; font-weight:500;">{{ text_telephone }}</h5>
								<h4 class="text-primary mb-0" style="font-size:calc(1.3rem + .3vw);">{{ telephone }}</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-3">
						<div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
							<div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
								<i class="fa fa-envelope-open text-white"></i>
							</div>
							<div class="pl-4">
								<h5 class="mb-2" style="font-size:16px; font-weight:500;">{{ text_email }}</h5>
								<h4 class="text-primary mb-0" style="font-size:calc(1.3rem + .3vw);">{{ email }}</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4  mb-3">
						<div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
							<div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
								<i class="fa fa-map-marker-alt text-white"></i>
							</div>
							<div class="pl-4">
								<h5 class="mb-2" style="font-size:16px; font-weight:500;">{{ text_address }}</h5>
								<h4 class="text-primary mb-0 " style="font-size:calc(1.3rem + .3vw);">{{ address }}</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row g-5">
					<div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
						<form action="{{ action }}" method="post">
							<div class="row g-3">
								<div class="col-md-6 mb-3">
									<input type="text" name="name" id="input-name" class="form-control border-0 border-bottom-1 px-4 {{ error_name?' is-invalid' }}" placeholder="{{ entry_name }}" style="height: 55px;">
									{% if error_name %}
										<div class="invalid-feedback">{{ error_name }}</div>
									{% endif %}
								</div>
								<div class="col-md-6 mb-3">
									<input type="email" name="email" id="input-email" class="form-control border-0 border-bottom-1 px-4 {{ error_email?' is-invalid' }}" placeholder="{{ entry_email }}" style="height: 55px;">
									{% if error_email %}
										<div class="invalid-feedback">{{ error_email }}</div>
									{% endif %}
								</div>
								<div class="col-12 mb-3">
									<input type="text" name="subject" id="input-subject" class="form-control border-0 border-bottom-1 px-4 {{ error_subject? 'is-invalid' }}" placeholder="{{ entry_subject }}" style="height: 55px;">
									{% if error_subject %}
										<div class="invalid-feedback">{{ error_subject }}</div>
									{% endif %}
								</div>
								<div class="col-12 mb-4">
									<textarea name="enquiry" id="input-enquiry" class="form-control border-0 border-bottom-1 px-4 py-3 {{ error_enquiry?' is-invalid' }}" rows="4" placeholder="{{ entry_enquiry }}">{{ enquiry }}
									</textarea>
									{% if error_enquiry %}
										<div class="invalid-feedback">{{ error_enquiry }}</div>
									{% endif %}
								</div>
								<div class="col-12">
									<button class="btn btn-primary w-100 py-3" type="submit">{{ button_submit }}</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: slideInUp;">
						<iframe class="position-relative rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8912.354761043813!2d6.952076158351873!3d5.412031283375728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10425c5e2aedc37f%3A0x32f2f11948d121ec!2s460107%2C%20Obinze%2C%20Imo!5e0!3m2!1sen!2sng!4v1683799041859!5m2!1sen!2sng" frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
			</div>
			{# <div class="row">
						        <div class="col-md-4 col-xl-3 mb-4">
						          <div class="card h-100">
						            <h3 class="h4 card-header text-light-inverse">{{ text_location }}</h3> 
						            {% if image %}
						              <img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="card-img-top"/>
						            {% endif %}
						            <ul class="list-group list-group-flush">
						              <li class="list-group-item">
						                <h5 class="card-title">{{ store }}</h5>
						                <address>
						                  {{ address }}
						                </address>
						                {% if geocode %}
						                  <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fas fa-map-marker"></i> {{ button_map }}</a>
						                {% endif %}
						              </li>
						              <li class="list-group-item">
						                <strong>{{ text_telephone }}</strong><br/>
						                {{ telephone }}<br/>
						                {% if fax %}
						                  <strong>{{ text_fax }}</strong><br/>
						                  {{ fax }}
						                {% endif %}
						              </li>
						              <li class="list-group-item">
						                {% if open %}
						                  <strong>{{ text_open }}</strong>
						                  <br/>
						                  {{ open }}
						                  <br/>
						                {% endif %}
						                {% if comment %}
						                  <strong>{{ text_comment }}</strong>
						                  <br/>
						                  {{ comment }}
						                {% endif %}
						              </li>
						            </ul>
						          </div>
						        </div>
						        <div class="col-md-8 col-xl-9 mb-4">
						          <div class="card h-100">
						            <h1 class="h4 card-header text-light-inverse">{{ text_contact }}</h1>
						            <div class="card-body">
						              <form class="" action="{{ action }}" method="post" enctype="multipart/form-data">
						                <div class="form-group row required">
						                  <label class="col-sm-2 col-form-label" for="input-name">{{ entry_name }}</label>
						                  <div class="col-sm-10">
						                    <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control form-control-lg{{ error_name?' is-invalid' }}"/>
						                    {% if error_name %}
						                      <div class="invalid-feedback">{{ error_name }}</div>
						                    {% endif %}
						                  </div>
						                </div>
						                <div class="form-group row required">
						                  <label class="col-sm-2 col-form-label" for="input-email">{{ entry_email }}</label>
						                  <div class="col-sm-10">
						                    <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control form-control-lg{{ error_email?' is-invalid' }}"/>
						                    {% if error_email %}
						                      <div class="invalid-feedback">{{ error_email }}</div>
						                    {% endif %}
						                  </div>
						                </div>
						                <div class="form-group row required">
						                  <label class="col-sm-2 col-form-label" for="input-enquiry">{{ entry_enquiry }}</label>
						                  <div class="col-sm-10">
						                    <textarea name="enquiry" rows="10" id="input-enquiry" placeholder="{{ entry_enquiry }}" class="form-control {{ error_enquiry?' is-invalid' }}">{{ enquiry }}</textarea>
						                    {% if error_enquiry %}
						                      <div class="invalid-feedback">{{ error_enquiry }}</div>
						                    {% endif %}
						                  </div>
						                </div>
						                {{ captcha }}
						                <div class="buttons clearfix">
						                  <div class="float-right">
						                    <input class="btn btn-lg btn-primary" type="submit" value="{{ button_submit }}"/>
						                  </div>
						                </div>
						              </form>
						            </div>
						          </div>
						        </div>
						      </div>
						      {% if locations %}
						        <h4>{{ text_store }}</h4>
						        <div class="accordion" id="accordion">
						          {% for location in locations %}
						            <div class="card">
						              <h5 class="card-header"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle d-flex" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fas fa-caret-down ml-auto"></i></a></h5>
						              <div class="collapse" data-parent="#accordion" id="collapse-location{{ location.location_id }}">
						                <div class="card-body">
						                  <div class="row">
						                    {% if location.image %}
						                      <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail"/></div>
						                    {% endif %}
						                    <div class="col-sm-3"><strong>{{ location.name }}</strong>
						                      <br/>
						                      <address>
						                        {{ location.address }}
						                      </address>
						                      {#{% if location.geocode %}
						                        <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fas fa-map-marker"></i> {{ button_map }}</a>
						                      {% endif %}#}
			{# </div>
						                    <div class="col-sm-3"><strong>{{ text_telephone }}</strong>
						                      <br>
						                      {{ location.telephone }}
						                      <br/>
						                      {% if location.fax %}
						                        <strong>{{ text_fax }}</strong>
						                        <br>
						                        {{ location.fax }}
						                      {% endif %}
						                    </div>
						                    <div class="col-sm-3">
						                      {% if location.open %}
						                        <strong>{{ text_open }}</strong>
						                        <br/>
						                        {{ location.open }}
						                        <br/>
						                      {% endif %}
						                      {% if location.comment %}
						                        <strong>{{ text_comment }}</strong>
						                        <br/>
						                        {{ location.comment }}
						                      {% endif %}
						                    </div>
						                  </div>
						                </div>
						              </div>
						            </div>
						          {% endfor %}
						        </div>
						      {% endif %} #}

			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
