{{ header }}

<div id="account-login" class="container content pb-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs|slice(0,-1) %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
      <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs|last.text }}</li>
    </ol>
  </nav>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9' %}
    {% else %}
    {% set class = 'col-md-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row">
        <div class="col-lg-6 order-sm-2">
          <div class="card mb-4">
            <div class="card-body p-4">
              <h2>{{ text_new_customer }}</h2>
              <p><strong>{{ text_register }}</strong></p>
              <p>{{ text_register_account }}</p>
              <a href="{{ register }}" class="btn btn-primary mt-2">{{ button_continue }}</a></div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-body p-4">
              <h2>{{ text_returning_customer }}</h2>
              <p><strong>{{ text_i_am_returning_customer }}</strong></p>
              <form action="{{ action }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="input-email">{{ entry_email }}</label>
                  <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="input-password">{{ entry_password }}</label>
                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                  <a href="{{ forgotten }}" class="mt-2">{{ text_forgotten }}</a></div>
                <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
                {% if redirect %}
                <input type="hidden" name="redirect" value="{{ redirect }}" />
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
